
body {
  background-color: #6c63ff; /* Purple background */
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-input {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 30px;
}

.form-input::placeholder {
  color: white;
  opacity: 0.7;
}

.form-input:focus {
  outline: none;
  border-bottom: 1px solid #76c7f0;
}

.btn-next {
  display: inline-block;
  background: linear-gradient(45deg, #76c7f0, #5698dc); /* Gradient background */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.btn-next:hover {
  background: linear-gradient(45deg, #5698dc, #76c7f0);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
